html, body {
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
  background: #CCC;
}

label {
  display: inline-block !important;
  font-weight: normal !important;
  margin: 0 !important;
}

input, textarea, select {
  display: inline-block !important;
}

input[type=button] {
  width: 100%;
}

.disabled {
  color: gray;
}

#viewport, #panel, #controls, #buttons, #info {
  width: 100%;
  padding: 0;
  margin: 0;
}

#viewport {
  border-bottom: 2px #666 solid;
}

#panel {
  border-top: 2px #AAA solid;
  background: #CCC;
  position: relative;
  display: none;
}

#info {
  text-align: center;
  font-size: 75%;
}

#buttons td, #info td {
  width: 33.33%;
}

#buttons input {
  margin-top: 0;
}

#buttons td {
  padding-top: 0;
}

#controls td {
  width: 25%;
}

#picking_message, #region_message, #loader, #error {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

#picking_message, #region_message, #error {
  z-index: 1;
  text-align: center;
  padding-top: 45px;
}

#loader {
  z-index: 2;
  background: url(/static/img/loading_big.gif) center center no-repeat;
}

#error {
  color: #8A3640;
  background: #CCC;
  z-index: 3;
}

#color[disabled] {
  background: #EEE !important;
}

#resource {
  min-width: 60px;
}
